
$color-white: #fff;
$color-red:#ff4e50;
$color-gray:#444444;
$color-cyan:#19D4CA;
$color-yellow:#FFA710;
$color-purple:#667DF3;
$color-light-gray:#999999;
$color-light-gray2:#CCCCCC;
$color-light-gray3:#666;